<ion-header>
  <ion-navbar>
    <ion-title>
      Responsive Design
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 >
          <ion-img style="width: 100%; height: auto" src="assets/img/ionic-meta.jpg"></ion-img>
      </ion-col>
      <ion-col col-6 col-md-4 col-xl-3>
          <ion-img style="width: 100%; height: auto" src="assets/img/ionic-meta.jpg"></ion-img>
      </ion-col>
      <ion-col col-6 col-md-4 col-xl-3>
          <ion-img style="width: 100%; height: auto" src="assets/img/ionic-meta.jpg"></ion-img>
      </ion-col>

	  <ion-col col-6 col-md-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            Responsive Grid Test
          </ion-card-header>
          <ion-card-content>
            <p>Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with. In addition, it is important to understand that responsive web design tasks include offering the same support to a variety of devices for a single website. Recent work also considers the viewer proximity as part of the viewing context as an extension for RWD. Content, design and performance are necessary across all devices to ensure usability and satisfaction.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            Responsive Grid Test
          </ion-card-header>
          <ion-card-content>
            <p>Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with. In addition, it is important to understand that responsive web design tasks include offering the same support to a variety of devices for a single website. Recent work also considers the viewer proximity as part of the viewing context as an extension for RWD. Content, design and performance are necessary across all devices to ensure usability and satisfaction.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            Responsive Grid Test
          </ion-card-header>
          <ion-card-content>
            <p>Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            Responsive Grid Test
          </ion-card-header>

          <ion-card-content>
            <p>Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-md-4 col-xl-3>
        <ion-card>
          <ion-card-header>
            Responsive Grid Test
          </ion-card-header>

          <ion-card-content>
            <p>Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the screen or web browser one is viewing with.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
